<ul class="accordion" data-accordion data-allow-all-closed="true">
  <li class="accordion-item is-active" data-accordion-item>
    <a href="#" class="accordion-title">Produkciók szűrése</a>
    <div class="accordion-content" data-tab-content>
      <nav>
        <h4>Mutasd</h4>
        <ul class="menu vertical">
          <li><a href="#">Összes produkció</a></li>
          <li><a href="#"">Betöltetlen produkciók<span class="badge">12</span></a></li>
        </ul>
      </nav>
      <hr>
      <nav>
        <h4>Produkciós cég</h4>
        <ul class="inlinelist">
          <li><a href="#">Protonfilm</a></li>
          <li><a href="#">HBO</a></li>
          <li><a href="#">Macskabölcső</a></li>
          <li><a href="#">MAFILM</a></li>
          <li><a href="#">Kovács András</a></li>
          <li><a href="#">Cafe Film</a></li>
        </ul>
      </nav>
      <hr>
      <nav>
        <h4>Státusz</h4>
        <ul class="inlinelist">
          <li><a href="#">Utómunka</a></li>
          <li><a href="#">Befejezett</a></li>
          <li><a href="#">Gyártás</a></li>
          <li><a href="#">Gyártáselőkészítés</a></li>
          <li><a href="#">Fejlesztés</a></li>
        </ul>
      </nav>
    </div>
  </li>
</ul>