<aside class="sidebar" class="sticky" data-sticky data-sticky-on="tablet" data-top-anchor="searchwithsidebar:top" data-btm-anchor="searchwithsidebar:bottom" data-margin-top="0">
  <div id="listnav">
    <nav>
      <h4>Produkciók</h4>
      <ul class="menu menu--side vertical">
        <li><a href="#">Összes produkció</a></li>
        <li class="active"><a href="#"">Betöltetlen produkciók <span class="badge alert">12</span></a></li>
        <li><a href="#"">Saját produkciók(x)</a></li>
      </ul>
    </nav>
    <nav>
      <h4>Produkciós cég</h4>
      <ul class="inlinelist">
        <li><a href="#">Protonfilm</a></li>
        <li><a href="#">HBO</a></li>
        <li class="active"><a href="#">Macskabölcső</a></li>
        <li><a href="#">MAFILM</a></li>
        <li><a href="#">Kovács András</a></li>
        <li><a href="#">Cafe Film</a></li>
      </ul>
    </nav>
    <nav>
      <h4>Státusz</h4>
      <ul class="inlinelist">
        <li><a href="#">Utómunka</a></li>
        <li><a href="#">Befejezett</a></li>
        <li><a href="#">Gyártás</a></li>
        <li><a href="#">Gyártáselőkészítés</a></li>
        <li><a href="#">Fejlesztés</a></li>
      </ul>
    </nav>
  </div>
</aside>
