@font-face {
  font-family: 'HelveticaNeueLTPro-BdCn';
  src: url('../fonts/HelveticaNeueLTPro-BdCn.eot');
  src: url('../fonts/HelveticaNeueLTPro-BdCn.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTPro-BdCn.woff') format('woff'),
       url('../fonts/HelveticaNeueLTPro-BdCn.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLTPro-BdCn.svg#HelveticaNeueLTPro-BdCn') format('svg'),
       url('../fonts/HelveticaNeueLTPro-BdCn.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTCom-BdCn';
  src: url('../fonts/HelveticaNeueLTCom-BdCn.eot');
  src: url('../fonts/HelveticaNeueLTCom-BdCn.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTCom-BdCn.woff') format('woff'),
       url('../fonts/HelveticaNeueLTCom-BdCn.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLTCom-BdCn.svg#HelveticaNeueLTCom-BdCn') format('svg'),
       url('../fonts/HelveticaNeueLTCom-BdCn.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}

