.lead {
    font-family: $header-font-family;
  font-weight: $global-weight-bold;
}
blockquote {
  font-style: italic;
  font-size: 1.25rem;
  background-color: $light-gray;
  padding-left: 6%;
}
cite {
  font-family: $header-font-family;
  font-weight: $global-weight-bold;
  //color:$body-font-color;
  font-style: normal;
}

.featurelist {
  font-size: 1.333rem;
  font-family: $header-font-family;
  font-weight: $global-weight-bold;
  color:rgba($white,.333);
  strong {
    display: block;
    font-size: 2.5rem;
    line-height: 1;
    font-family: $body-font-family;
    font-weight: $global-weight-bold;
    color:rgba($white,.75);

  }
  .column {
    margin-top: .5rem;
  }
}

label {
  font-family: $header-font-family;
}

input, textarea, select {
  font-weight: $global-weight-normal;
}

.button {
  font-family: $header-font-family;
  font-weight: $global-weight-bold;
  //font-style: italic;
}