<aside class="sidebar" class="sticky" data-sticky data-sticky-on="tablet" data-top-anchor="searchwithsidebar:top" data-btm-anchor="searchwithsidebar:bottom" data-margin-top="0">
  <div id="listnav">
    <nav>
      <h4>Gyakornokok listája</h4>
      <ul class="menu menu--side vertical">
        <li class="active"><a href="{{ root }}producer/results/all.html">Összes gyakornok</a></li>
        <li><a href="{{ root }}producer/results/ourtraniees.html">Most dolgoznak nálunk</a></li>
        <li><a href="{{ root }}producer/results/starred.html">Bejelölt gyakornokok</a></li>
        <li><a href="{{ root }}producer/results/alertlist.html">Beavatkozást igényelnek <span class="badge alert">2</span></a></li>
      </ul>
    </nav>

    <nav id="savedsearches">
      <h4>Mentett keresések</h4>
      <ul class="menu menu--side vertical">
        <li><a href="{{ root }}producer/results/prodsearchresults.html">Utóélet hangrészleg<br><small>(4 találat)</small><span class="badge alert">2</span><br><small>20 éves, angol, német</small></a></li>
        <li><a href="{{ root }}producer/results/prodsearchresults.html">Csinovnyik gyártásba<br><small>fiú, angol, német</small></a></li>
        <li><a href="{{ root }}producer/results/prodsearchresults.html">Tapasztalt csatakancák<br><small>(10 találat)</small><br><small>lány, 45-50, sfx, sound, production </small></a></a></li>
      </ul>
    </nav>
    <a class="csini" href="#searchblock" data-toggle="searchblock"><i class="fi-plus"></i>Új keresés indítása</a>
  </div>
</aside>