<aside id="prodfullsearch" class="complexsearch">
  <div class="row">
    <div class="columns">
      <hr>
      <h5>Keresés paraméterek szerint</h5>
      <form action="post">
        <div class="row">
          <fieldset class="small-6 tablet-3 large-2 columns">
            <legend>Nem</legend>
            <input type="checkbox" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Fiú</label>
            <input type="checkbox" name="pokemon" value="Blue" id="pokemonBlue" required><label for="pokemonBlue">Lány</label>
          </fieldset>
          <fieldset class="small-6 tablet-2 large-2 columns">
            <legend>Kor</legend>
            <div class="row">
              <div class="columns small-6 ">
                <input type="text" name="minage" >
              </div>
              <div class="columns small-6 end">
                <input type="text" name="maxage" >
              </div>
            </div>
          </fieldset>
          <div class="medium-6 tablet-4 large-3 columns">
            <label for="langs">Szükséges nyelvek
              <input type="text" name="langs" placeholder="ha többet írsz, vesszővel válaszd el">
            </label>
          </div>
          <div class="medium-6 tablet-3 large-3 end columns">
            <label for="area">Szakterület
              <select name="area" id="">
                <option value="0">Előny a gyakorlat az alábbi területen</option>
                {{#each departments }}
                <option value="{{ title }}">{{ title }}</option>
                {{/each}}
              </select>
            </label>
          </div>
          <div class="columns large-2">
            <button type="submit" class="button expanded">Mehet</button>
          </div>
        </div>
      </form>
      <a href="#savedsearches" data-toggle="listnav"><small>Mentett keresések</small></a>
    </div>
  </div>
</aside>