<div class="callout">
  <form>
    <div class="row">
      <div class="columns tablet-6 large-8">
        <div class="input-group">
          <input class="input-group-field" type="text" placeholder="Keresés név szterint">
          <div class="input-group-button">
            <input type="submit" class="button" value="OK">
          </div>
        </div>
      </div>
      <div class="columns tablet-6 large-4 end text-right">
        <button class="button expanded secondary">Részletes keresés</button>
      </div>
    </div>
  </form>
</div>