.datablock {
  //@include clearfix();
  margin-bottom: $paragraph-margin-bottom*2;
  @include breakpoint(tablet) {
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.datablock--light {
}

.datablock {
  ul {
    margin:0 0 $paragraph-margin-bottom;
    list-style-type: none;
    li {
      margin:0 0 $paragraph-margin-bottom;
    }
  }

  h4 {
    margin:0;
    font-family:$body-font-family;
    //font-weight: $global-weight-normal;
    font-size:1.125rem;
    line-height:$paragraph-lineheight;
    small {
      color:$body-font-color;
      //color:$dark-gray;
      //font-weight: $global-weight-normal;

      font-size:75%;
      &:before {
        content:'| ';
        color:$primary-color;
        font-size:133.333%;
      }
    }
  }
  hr {
    border-color: $primary-color;
  }
  blockquote {
    padding-left: 5%;
    padding-right: 5%;
    border-left:none;
  }
}


.datablock__title {
  font-size:1.25rem;
  line-height: 1;
  font-weight: $global-weight-bold;
  margin: 0;
  text-transform: uppercase;
  border-bottom: 1px solid $primary-color;
  padding:0 0 .25em;

  .datablock--light & {
    border-color: transparent;
  }
}

.datablock__body {
  padding:.5rem 0 1rem 0;

  .datablock--light & {
    background-color: $light-gray;
    border-color: transparent;
    padding: 2rem 1rem 1.5rem;
  }
}

.datablock__new {
  font-size: .875rem;
  line-height: 1;
  font-family: $header-font-family;
  font-weight: $global-weight-bold;
  color:$primary-color;
  //font-style: italic;

  &:hover, &:focus {
    text-decoration: underline;
  }
  i:before{
    padding-right: .25em;
  }
}