.datablock {
  // @include clearfix();
  margin-bottom: $paragraph-margin-bottom;
  padding:1rem 0;
  @include breakpoint(tablet) {
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.datablock {
  ul {
    margin:0 0 $paragraph-margin-bottom*2;
    list-style-type: none;
    li {
      margin:0 0 $paragraph-margin-bottom/2;
    }
  }
}

.datablock__title {
  font-size:1.25rem;
  line-height: 1;
  font-weight: $global-weight-bold;
  margin-bottom: 1em;
}