.off-canvas-wrapper {
  background-color: $black;
}
.top-bar-title, .title-bar-title {
  color:$white;
  font-family: $header-font-family;
  font-weight: $global-weight-bold;
  padding:2.333rem 0 .333rem .25rem;
  line-height: 1;
  font-size: 1.333rem;
  a {
    color:inherit;
    position: relative;
    display: block;
    padding-left: 2.5rem;
  }
  span {
    color:map-get($foundation-palette, primary);
  }
  word-wrap:no-break;
}

.topbarlogo {
  position: absolute;
  left:-1.333rem;
  top:-2rem;
  display: inline-block;
  width: 3.5rem;
  margin:.25rem .5rem 0 0;
  fill:$primary-color;
}

.title-bar {
  .menu-icon {
    margin:0 1.25rem 0 1rem;
  }
}
.title-bar-title {
  border-left: 1px solid $dark-gray;
  //margin-left: 1rem;
  a {
    padding-left: 4rem;
  }
  .topbarlogo {
    left:.25rem;
  }
}



.mainnav {
  .menu {
    > li {
      a {
        font-family: $header-font-family;
        color:$white;
        font-weight: $global-weight-bold;
        text-transform: uppercase;
        font-size: .875rem;
        &:hover, &:focus {
         color: map-get($foundation-palette, primary);
         //color:$dark-gray;
        }
      }
      &.active {
        > a {
          color:$primary-color;
        }
      }
    }
  }
}

.usernav {
  margin-top: 2.125rem;
  &.usernav--mobile {
    margin-top: 0;
    position: absolute;
    top:.75rem;
    right:.5rem;
    @include breakpoint(medium) {
      position: static;
      margin-top: 2.125rem;
    }

  }
  .menu {
    > li {
      > a {
        font-size: 1rem;
        padding:.5rem 1rem .125rem;
        font-family: $header-font-family;
        font-weight: $global-weight-bold;
        color: $white;
      }
      li > a {
        padding:.75rem 1rem .666rem;
      }
    }
  }
}
.menu--side {
  > li {
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;
    position: relative;
    &:first-child {
      border-top-color:transparent;
    }
    &:before {
      content:'';
      position: absolute;
      left:0;
      top:-1px;
      bottom:-1px;
      width:.25rem;
      background-color: transparent;

    }
    > a {
      color:$body-font-color;
      position: relative;
      border-left: .25rem solid transparent;
      padding:1.125rem 1.25rem;
      transition:all .2s;

      &:hover, &:focus {
        color:$primary-color;
        transform:translateX(.666rem);
      }
    }
    + li {
      border-top:1px solid $medium-gray;
    }

    &.active {
      border-color: $medium-gray;
      &:before {
        background-color: $primary-color;
        z-index: 1;
      }
      + li {
        border-top-color: transparent;
      }
      > a {
        background-color: transparent;
        font-weight: $global-weight-bold;
        color:inherit;
        &:hover, &:focus {
          transform:translateX(0);
        }
      }
    }
  }
}