.phead {
  position: relative;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url('http://lorempixel.com/g/1280/400');
  padding:1rem 0 1rem;
  @include breakpoint(tablet) {
    padding:2rem 0 1.75rem;
  }
  > .row {
    position: relative;
  }
  .breadcrumbs {
    border-bottom: 1px solid rgba($white,.666);
    padding-bottom: .75rem;
    //margin-bottom: 1rem;
    a {
      color:$white;
    }
  }

  .button {
    margin:1rem 0 0;
    background-color:rgba($black,.125);
    border:1px solid rgba($white, .5);
    //color: $body-font-color;
    //text-transform: uppercase;

    font-family: $header-font-family;
    font-weight: $global-weight-bold;
    //border:1px solid rgba($white,.875);
    &:hover{
      background-color:rgba($black,.25);
      border:1px solid rgba($white, .75);
    }
    i {
      font-size:2.75rem;
      margin-right: .25em;
      display: block;

    }
    @include breakpoint(tablet) {
      min-height: 5.75rem;
      margin-top:0;
      padding-top: .75rem;
    }
  }
}

.phead--high {
  padding-top: 5rem;
  @include breakpoint(tablet) {
    padding-top: 27vh;
    padding-bottom: 2.5rem;

  }
}
.phead--inverse {
  background-color:$primary-color;
  color:$white;
  &:before {
    display: block;
    content:'';
    position: absolute;
    left:0;
    width:100%;
    top:0;
    height:100%;
    //background-color: #000;
    background-image: linear-gradient(60deg, rgba(#000,.666) 0, rgba(#000,.25) 50% );
  }
  .breadcrumbs {
    border-bottom: 1px solid rgba($white,.666);
    a {
      color:$white;
    }
  }
}


.phead__inner {
  position: relative;
}

.phead__meta {
  list-style-type: none;
  border-bottom: 1px solid rgba($white,.666);
  padding:0 0 .125rem;
  margin:0 0 1rem;

  > li {
    display: inline-block;
    padding:0;
    margin:0;
    a {
      color:inherit;
      &:hover, &:focus {
        color: $primary-color;
      }
    }
  }

  .metacat {
    text-transform: uppercase;
    font-weight: $global-weight-bold;
    font-family: $header-font-family;
    font-size: 1.333rem;
    margin-right: .25rem;
  }
  .metaauthor, .metadate {
    //float:right;
    font-size: .75rem;
    font-weight: $global-weight-bold;
    font-family: $header-font-family;
    text-transform: uppercase;
    &:before {
      display:inline-block;
      content:'|';
      margin:0 .5em  0 0;
      color: $medium-gray;

    }
  }

  .metadate {

  }

}
.phead__title {
  margin-bottom: 0;
}

.phead__lead {
  font-size: 1.25rem;
  font-family: $header-font-family;
  font-weight: $global-weight-bold;

}


.plead {
  @include clearfix();
  //padding:1rem 0;
  margin-bottom: 4rem;

  font-size: $lead-font-size;
  line-height: $lead-lineheight;
  p:last-of-type {
    margin-bottom: 0;
  }
  @include breakpoint(tablet){
      //padding:5vh 0;
  }
}
