.phead {
  @include clearfix();
  padding:1.75rem 0;
  .breadcrumbs {
    margin-bottom: 0;
  }
  .button {
    margin:1rem 0 0;
    @include breakpoint(tablet) {
      position: absolute;
      right:15px;
      bottom:.5rem;
    }
  }
}

.phead--inverse {
  background-color:$primary-color;
  color:$white;
  .breadcrumbs {
    border-bottom: 1px solid rgba($white,.75);
    padding-bottom: .75rem;
    margin-bottom: .5rem;
    a {
      color:$white;
    }
  }
}


.phead__inner {
  position: relative;
}
.phead__title {
  margin-bottom: 0;
  font-weight: $global-weight-bold;
}


.plead {
  @include clearfix();
  padding:1rem 0;

  font-size: $lead-font-size;
  line-height: $lead-lineheight;
  p:last-of-type {
    margin-bottom: 0;
  }
  @include breakpoint(tablet){
      padding:5vh 0;
  }
}
