.sidebar {
  padding:1rem 0;
  @include breakpoint(tablet){
      padding:4rem 0;
  }

  .button {
    margin-bottom: 0;
  }

  nav {
    margin-bottom: 4rem;
    h4 {
      font-weight: $global-weight-bold;
      text-transform: uppercase;
      font-size: 1rem;
      margin-bottom: .5em;

    }
    .inlinelist {
      font-size: .875rem;
      li.active {
        font-weight: $global-weight-bold;
      }
      a {
        color:inherit;
        &:hover, &.focus {
          color:$primary-color;
        }
      }
    }
  }
}

