.mosaic {
  padding: 3rem 0;
}

.smallcard {
  font-size: .875rem;

  position: relative;

  margin-bottom: 1.25rem;
  padding: .875rem;

  text-align: left;

  border: 1px solid $medium-gray;
  border-radius: 3px;
  background-color: $white;
  
  @include breakpoint(medium) {
    margin-bottom: rem-calc(30);
  }
  @include breakpoint(xlarge) {
    //margin-bottom: rem-calc(40);
  }
  @include breakpoint(xxlarge) {
    //margin-bottom: rem-calc(40);
  }
}

.smallcard__title {
  font-size: 1.333rem;

  margin: .125em 0 0;

  color: scale-color($body-font-color, $lightness: 15%);
  a {
    color: inherit;
    &:hover,
    &:focus {
      color: $primary-color;
    }
  }
  small {
    font-size: 66.666%;

    color: $dark-gray;
  }
}

.smallcard__fig {
  margin: 0 10% 0 0;
  img {
    border:none;
    padding:0;
  }
}

.sc__prodfirm {
  font-family: $header-font-family;
  font-size: .875rem;
  font-weight: $global-weight-bold;
  line-height: 1;

  display: inline-block;

  text-transform: uppercase;

  color: $dark-gray;
}

.sc__studies {
  text-transform: uppercase;
}

.smallcard__footer {
  font-size: .75rem;
  //font-family:$header-font-family;
  font-weight: $global-weight-bold;
  line-height: 1;

  position: relative;

  margin-top: .875rem;
  padding: .875rem 0 0;

  color: $dark-gray;
  border-top: 1px solid $primary-color;
  .markers {
    position: absolute;
    top: .3335rem;
    right: 0;
  }
}

.marker {
  font-size: 1.5rem;
  line-height: 1;

  opacity: .25;
  color: inherit;
  &:hover,
  &:focus {
    opacity: 1;
    color: inherit;
  }
}

.marker--ison {
  opacity: 1;
  color: $primary-color;
  color: map-get($foundation-palette, 'alert');
}
