html {
  @media screen and (min-width: 100em) {
    font-size: 112.5%;
  }
}


.row {
  @include breakpoint(medium){

  }
  @include breakpoint(tablet){
    max-width: 90%;
  }
  @include breakpoint(large){
    //max-width: 85%;
  }
  @include breakpoint(xlarge){
    //max-width: 80%;
  }
  @include breakpoint(xxlarge){
    max-width: 85%;
  }
  @media screen and (min-width: 100em) {
    max-width: $global-width;
  }


  .row {
    max-width: $global-width;
  }
}

.ps {
  padding:4rem 0;
  position: relative;
}
.ps--full {
  min-height: calc(100vh - 7rem);
  height:40rem;
  .ps__inner {
    position: absolute;
    width:100%;
    top: 50%;
    transform: translateY(-50%);
  }
}
.ps--narrow {
  padding:2rem 0;
}
.ps--light {
  background-color: $light-gray;
}
.ps--inverse {
  background-color: $primary-color;
  color:$white;
}


.box {
  background-color: $light-gray;
  padding:2rem 5%;
  color:$body-font-color;
  p {
    margin-bottom:0;
  }
}
.box--transparent {
//  background-color: transparent;
//  border:1px solid $light-gray;
}
.box__title {
  // font-size: 2rem;
  // margin:0 0 .5em;
}