<div id="listnav">
    <nav>
        <h4>Kategóriák</h4>
        <ul class="menu menu--side vertical">
            <li class="active"><a href="{{ root }}base/news/index.html">Összes hír</a></li>
            <li><a href="#">Producereknek</a></li>
            <li><a href="#">Gyakornokoknak</a></li>
            <li><a href="#">Új pozíciók</a></li>
            <li><a href="#">Visszhang</a></li>
            <li><a href="#">Sajtó</a></li>
        </ul>
    </nav>
</div>
<div class="smallcard">
    <h4 class="smallcard__title">Sidebar widget</h4>
    <ul>
        <li>Nagy Jenő</li>
        <li>Kovács Istán</li>
        <li>Jancsó Miklós</li>
    </ul>
    <footer class="smallcard__footer">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident a error, rerum ullam.</p>
    </footer>
</div>
<div class="smallcard">
    <h4 class="smallcard__title">Kiemelt oldalsávi elem</h4>
    <div class="smallcard__footer">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident a error, rerum ullam.</p>
    </div>
    <p>Epedit quibusdam et corporis. Hic, sed maiores corporis pariatur vero nesciunt numquam, cumque. Cupiditate laborum fugit rem optio quibusdam!</p>
</div>
