<a href="#" class="button success expanded hide-for-tablet" data-toggle="listnav">Hirkategóriák</a>
<div id="listnav" class="show-for-tablet" data-toggler="show-for-tablet">
  <nav>
    <h4>Kategóriák</h4>
    <ul class="menu menu--side vertical">
      <li class="active"><a href="{{ root }}base/news/index.html">Összes hír</a></li>
      <li><a href="#">Producereknek</a></li>
      <li><a href="#">Gyakornokoknak</a></li>
      <li><a href="#">Új pozíciók</a></li>
      <li><a href="#">Visszhang</a></li>
      <li><a href="#">Sajtó</a></li>
    </ul>
  </nav>
</div>
