<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

    <!-- off-canvas title bar for 'small' screen -->
    <div class="title-bar hide-for-tablet" data-responsive-toggle="widemenu" data-hide-for="tablet">
      <div class="title-bar-left">
        <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
        <span class="title-bar-title">FilmesGyakorn<span>ok</span></span>
      </div>
      <nav class="title-bar-right usernav usernav--mobile">
        {{>usernav}}
      </nav>
    </div>

    <!-- off-canvas left menu -->
    <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
      <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
      <nav class="mainnav mainnav--mobile">
        {{> mainnav vertical=true}}
      </nav>

    </div>

    <div id="widemenu" class="top-bar dark ashow-for-tablet">
      <div class="top-bar-title">
        <a href="{{root}}index.html">FilmesGyakorn<span>ok</span></a>
      </div>
      <div id="responsive-menu">
        <nav class="mainnav top-bar-left">
          {{> mainnav}}
        </nav>
      </div>
      <nav class="usernav top-bar-right">
        {{> usernav}}
      </nav>
    </div>

    <div class="off-canvas-content" data-off-canvas-content>

