  <a href="#" class="button large expanded secondary">Belépés Facebookal</a>
  <form>
    <div class="row">
      <div class="small-12 columns">
        <label>E-mail cím
          <input type="text" placeholder=".small-12.columns">
        </label>
      </div>
      <div class="small-12 columns">
        <label>Jelszó
          <input type="password" placeholder=".small-12.columns">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <button class="button expanded alert" type="submit" value="Submit">Belépés</button>

      </div>
    </div>
  </form>

  <p class="text-center"><label>Még nem vagy tag? <a href="{{root}}registration.html">Regisztrálj itt</a></label><small><a href="#">Elfelejtett jelszó</a></small></p>
