<div class="callout">
  <a href="#" class="button expanded secondary">Belépés Facebookal</a>
  <form>
    <div class="row">
      <div class="small-12 columns">
        <label>E-mail cím
          <input type="text" placeholder=".small-12.columns">
        </label>
      </div>
      <div class="small-12 columns">
        <label>Jelszó
          <input type="password" placeholder=".small-12.columns">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <button class="button expanded secondary" type="submit" value="Submit">Belépés</button>
        <small><a href="#">Elfelejtettem a jelszavamat</a></small>
      </div>
    </div>
  </form>
  <p><strong>Még nem vagy tag?</strong><a href="{{root}}registration.html" class="button small alert">Regisztráció</a></p>
</div>