<div class="nc">
  <ul class="nc__meta">
    <li class="metacat"><a href="#">{{category}}</a></li>
    <li class="metadate"><time>{{date}}</time></li>
    <li class="metaauthor"><a href="#">Kovács Imre Lehel</a></li>
  </ul>
  <h3 class="nc__title"><a href="{{ root }}/base/news/single-post.html">{{title}}</a></h3>
  <figure class="nc__fig">
    <a href="{{ root }}/base/news/single-post.html">
      <img src="{{thumbnail}}" alt="">
    </a>
  </figure>
  <div class="nc__excerpt">
    <p>{{excerpt}}</p>
    <a href="{{ root }}/base/news/single-post.html" class="button tiny nc__more">Bővebben</a>
  </div>
</div>