<div class="card card--traniee callout">
  <figure class="card__fig">
    <a href="{{ root }}traniee-view.html">
      <img src="{{ thumbnail}}" alt="">
    </a>
  </figure>
  <h4 class="card__title">
    <a href="{{ root }}traniee-view.html">
      {{ name }} <small>({{ age }})</small>
    </a>
  </h4>
  <ul class="inlinelist">
    {{#each studies}}
      <li>{{ this }}</li>
    {{/each}}
  </ul>
  <ul class="inlinelist">
    {{#each workedin}}
      <li>{{ this }}</li>
    {{/each}}
  </ul>
  <p><small>{{ date }}</small></p>
</div>