<div class="trsheet">
  <header class="trsheet__head">
    <div class="row">
      <div class="columns small-4 tablet-6 large-4">
        <figure class="trsheet__userphoto">
          <img src="http://placehold.it/480x480" alt="Minta Panna">
        </figure>
      </div>
      <div class="columns small-8 tablet-6 large-8">
        <h4 id="tr_name" class="tr_name">Teleki Blanka Panna</h4>
        <p>21 éves lány</p>
        <ul id="tr_langs" class="tr_langs inlinelist">
          <li>angol</li>
          <li>német</li>
        </ul>
        <p id="tr_contact" class="tr_contact">
          <label>E-mail</label><a href="#">mintapanna@gmail.com</a><br>
          <label>Telefon</label><a href="tel:0036303217654">+36 30 321 7654</a><br>
          <label>Skype</label>minta.anna21
        </p>

      </div>
    </div>
  </header>
  <div class="row">
    <div class="columns">
      <section class="datablock">
        <h3 class="datablock__title">Szivesen kipróbálná</h3>
        <div class="datablock__body">
          <p>
            <span class="label">Camera</span>
            <span class="label">Post production</span>
            <span class="label">SFX</span>
          </p>
        </div>
      </section>
      <section class="datablock">
        <h3 class="datablock__title">Iskolák</h3>
        <div class="datablock__body">
          <ul>
            <li>
              <h4>MOME animáció szak <small>2013-2015</small></h4>
              <p>animátor</p></li>
              <li>
                <h4>Filmművészeti Egyetem <small>2014-2016</small></h4>
                <p>operatőr</p>
              </li>
            </ul>
          </div>
        </section>
        <section class="datablock">
          <h3 class="datablock__title">Produkciók amelyekben dolgozot</h3>
          <div class="datablock__body">
            <ul>
              <li class="tr_prodref">
                <h4>Félvilág <small>2015, 2 hét</small></h4>
                <p>Elsősorban a gafferek ebédjét szállítottam, illetve a produkció pénzügyi asszisztensének hordtam kávékat egy nagyon drága kávézóból. Szerencsémre ráláttam az operatőr munkájára is.</p>
              </li>
              <li class="tr_prodref">
                <h4>Szegénylegények <small>1969, 9 hónap</small></h4>
                <p>Itt még csak elképzelés voltam, de állítólag már ebben a formában is nagy hatással voltam a film akkori gyártásvezetőjére, aki az apám.</p>
              </li>
            </ul>
          </div>
        </section>
        <section class="datablock">
          <h3 class="datablock__title">Önéletrajz</h3>
          <div class="datablock__body">
            <p><a href="#">minta_cv.docx</a></p>
          </div>
        </section>
        <section class="datablock">
          <h3 class="datablock__title">Motívációs levél</h3>
          <div class="datablock__body">
            <p>Híres rendező akarok lenni, aki alulról kezdte. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit similique iure eius, quidem iste harum omnis explicabo eum obcaecati officiis voluptas provident earum quo molestiae quia vel cum ex. Reprehenderit.</p>
          </div>
        </section>
        <section class="datablock datablock--light">
          <h3 class="datablock__title">Róla írták</h3>
          <div class="datablock__body">
            <blockquote>
              <p>Híres rendező akart lenni, és alattam kezdte. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit similique iure eius, quidem iste harum omnis explicabo eum obcaecati officiis voluptas provident earum quo molestiae quia vel cum ex. Reprehenderit.</p>
              <cite>Lajos Tamás, producer (Szegénylegények)</cite>
            </blockquote>
            <blockquote>
              <p>Panka csodálatosan hord kávét, mindenkinek ilyen gyakornokot kívánok, legközelebb is szívesen dolgoznék vele.</p>
              <cite>Pintér Béla, gyártásvezető (Mephisto)</cite>
            </blockquote>
          </div>
        </section>
      </div>
    </div>
  </div>