<div class="smallcard smallcard--traniee">
  <div class="row collapse">
    <div class="columns small-3 xlarge-3">
      <figure class="smallcard__fig">
        <a href="{{ root }}/producer/traniee-view.html">
          <img src="{{ thumbnail}}" alt="">
        </a>
      </figure>
      {{#if marked}}
        <a href="#" class="marker button tiny success">*</a>
        {{else}}
        <a href="#" class="marker button tiny">-</a>
      {{/if}}
    </div>
    <div class="columns small-9 xlarge-9">
      <h4 class="smallcard__title">
        <a href="{{ root }}/producer/traniee-view.html">
          {{ name }} <small>({{ age }} éves)</small>
        </a>
      </h4>
      <ul class="inlinelist sc__studies">
        {{#each studies}}
          <li>{{ this }}</li>
        {{/each}}
      </ul>
      <ul class="inlinelist">
        {{#each workedin}}
          <li>{{ this }}</li>
        {{/each}}
      </ul>


    </div>
  </div>
  <footer class="smallcard__footer">
    {{ date }}
  </footer>


</div>